@{
    ViewBag.Title = "Usuario";
}

<h2>Olá, Seja Bem Vindo(a)</h2>

@{
    if (ViewBag.Message != null) 
    {
        <h3>@ViewBag.Message</h3>
    }
}

<hr />

<h4 style="margin-top:30px">Como Podemos ajudar ?</h4>

<ul>
    <li>@Html.ActionLink("Consultar Usuario", "Login")</li>
    <li>@Html.ActionLink("Cadastrar Usuario", "Cadastro")</li>

</ul>