@{ ViewBag.Title = "Inicio"; }

<style type="text/css">
    #content_index{
        margin:80px 0px;
        text-align:center;
    }
</style>

<div class="row" id="content_index">
    <div class="col-lg-4">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
             class="img-circle" alt="Generic placeholder image" width="140" height="140" />
        <h2>Clientes</h2>
        <p>Faça parte do Nossos Sistema e seja um Usuario !</p>
        <p><a class="btn btn-default" href="#" role="button">Fazer Login »</a></p>
    </div>
    <div class="col-lg-4">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
             class="img-circle" alt="Generic placeholder image" width="140" height="140" />
        <h2>Produtos</h2>
        <p>Veja diversos produtos do nosso Catalogo !</p>
        <p><a class="btn btn-default" href="#" role="button">Ver Produtos »</a></p>
    </div>
    <div class="col-lg-4">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
             class="img-circle" alt="Generic placeholder image" width="140" height="140" />
        <h2>Funcionarios</h2>
        <p>Faça parte do Nosso Time e Venda seus Produtos !</p>
        <p><a class="btn btn-default" href="#" role="button">Vender Produtos »</a></p>
    </div>
</div>