@model Exception
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" lang="pt-br" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Erro - School Project</title>
</head>
<body>
        <h1>Ops, Algo Aconteceu.</h1>
        <br />
        <h3>Desculpe-nos, Houve um erro ao processar sua solicitação.</h3>
        <h6>Log do Erro: @Model</h6>
</body>
</html>
